name: Run action with provided version
on:
  pull_request:
  push:
    branches:
      - main
permissions: {}
jobs:
  runner:
    name: Run install-pinact
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Run action
        uses: ./
        with:
          version: 0.2.1
      - name: Run pinact
        run: |
          pinact --version

